@import "~mdb-ui-kit/css/mdb.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: rgb(228, 228, 228);

html {
  @media (min-width: 700px) {
    font-size: 1.3rem;
  }
}
body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/noisy_net.png");
  background-repeat: repeat;
  background-color: rgb(32, 32, 32);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;

  .input-container {
    width: 90vw;

    #city-search {
      font-size: 1.2rem;
      padding: 1rem;
      outline: none;
      border: none;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      border-radius: 1px;
      background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      text-transform: uppercase;
      width: 75%;

      &:focus {
        outline: 2px solid azure;
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    #search-btn {
      font-size: 1.2rem;
      padding: 1rem;
      background-color: transparent;
      color: $primary-color;
      outline: none;
      border: none;
      cursor: pointer;
      transition: transform 0.4s;

      &:hover {
        transform: rotateY(360deg);
      }
    }
  }

  #weather-container {
    color: $primary-color;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    @media (min-height: 768px) {
      margin-top: 2rem;
    }

    .city-temp {
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      display: flex;
      flex-direction: column;

      #city {
        font-size: 2rem;
        text-align: center;
      }
      #country {
        font-size: 1rem;
      }
      #temp {
        font-size: 5rem;
        text-align: center;
      }

      #description {
        margin-bottom: 1rem;

        @media (min-height: 768px) {
          margin-bottom: 2rem;
        }
      }
    }
    .additional-weather {
      justify-content: center;
      align-items: center;

      #feels-temp {
        margin-right: 0.7rem;

        @media (min-width: 300px) {
          margin-right: 2rem;
        }

        @media (min-width: 768px) {
          margin-right: 4rem;
        }
      }
    }

    #photo-container {
      #weather {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin-bottom: 1rem;

        @media (min-height: 768px) {
          margin-bottom: 2rem;
          width: 220px;
          height: 220px;
        }

        @media (min-width: 500px) {
          margin-bottom: 2rem;
          width: 250px;
          height: 250px;
        }

        @media (min-width: 768px) {
          margin-bottom: 2rem;
          width: 320px;
          height: 320px;
        }
      }
    }
  }
}
